.hero {
    background-color: royalblue;
    background-image: url(/img/fonas.jpg);
    background-size: cover;
    text-align: center;
    background-attachment: fixed;
    height: 100vh;

}
.hero > .row {
    width: 600px;
    margin: 0 calc(50% - 300px);
}
.hero img {
    margin-bottom: 40px;
    width: 40px;
    object-fit: contain;
}
.hero h1 {
    width: 100%;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 50px;
}
.hero p {
    width: 100%;
    font-size: 20px;
    line-height: 25px;
    color: #555;
}
.hero .clock {
    width: 100%;
    margin: 80px 0;
    color: #ffffff;
}
.time {
    width: 25%;
    float: left;
}
.value {
    font-size: 70px;
    width: 100%;
    line-height: 70px;
}
.label {
    width: 100%;
    font-size: 20px;
    line-height: 20px;
}
.hero .form {
    width: 90%;
    margin: 0 5% 20px;
}
.inputas {
    width: 90%;
    line-height: 20px;
    margin-bottom: 40px;
    border: none;
    border-bottom: 1px solid white;
    background: transparent;

}
.hero .mouse {

}


@media (max-width: 700px) {
    .hero > .row {
        width: 100%;
        margin: 0;
        padding: 0 20px;
    }
}