footer.container {
    padding:0 0 40px;
    background-color: royalblue;
    color: #ffffff;
    text-align: center;
}
footer > .row:nth-child(1) {
    padding: 10px 0;
    border-bottom: 2px solid #ffffff;
}
    footer .fa {
        color: #fff;
        font-size: 20px;
        line-height: 40px;
        width: 40px;
        text-align: center;
        text-decoration: none;
    }

footer > .row:nth-child(2) {
    color: #fff8;
    width: 700px;
    font-size: 17px;
}
    footer .footer-logo {
        width: 200px;
        margin: 30px 0;
    }
    footer .texts {
        line-height: 30px;
    }
        footer .texts > p {
            float: left;
            padding: 0 10px;
        }
        footer .texts > p:nth-child(2) {
            border: 2px solid #fff;
            border-top: none;
            border-bottom: none;
        }
    footer .footer-p {
        line-height: 30px;
    }
    footer > .row:nth-child(2) a {
        color: #ffffff;
        text-decoration: none;
    }



    @media (max-width: 800px) {
        footer > .row:nth-child(2) {
            width: 500px;
            margin: 0 calc(50% - 250px);
        }
        footer .texts > p {
            width: 100%;
        }
            footer .texts > p:nth-child(2) {
                border: none;
            }
    }
    @media (max-width: 600px) {
        footer > .row:nth-child(2) {
            width: 100%;
            padding: 0 20px;
            margin: 0;
        }
    }